<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barelabor.barelabor"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission
        android:name="com.barelabor.barelabor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.barelabor.barelabor.permission.C2D_MESSAGE" />
    Read more:
    http://www.intertech.com/Blog/push-notifications-tutorial-for-android-using-google-cloud-messaging-gcm/#ixzz48kP4rRab
    Follow us: @IntertechInc on Twitter | Intertech on Facebook

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.needtire.NeedTireActivity" />
        <activity android:name=".activity.needtire.ChartActivity" />
        <activity android:name=".activity.experience.ExperienceActivity" />
        <activity android:name=".activity.experience.ExperienceDetailActivity" />
        <activity android:name=".activity.find.FindActivity" />
        <activity android:name=".activity.find.MapActivity" />
        <activity android:name=".activity.introActivity"
            android:label="App Intro"
            android:theme="@style/FullscreenTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity android:name=".activity.scan.ScanActivity" />
        <activity android:name=".activity.scan.PreviewActivity" />
        <activity android:name=".activity.ParentActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.barelabor.barelabor.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".activity.history.HistoryActivity" />
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />
    </application>

</manifest>